[build-system]
requires = ["maturin>=1.6,<2.0"]
build-backend = "maturin"

[project]
name = "transportations_library"
version = "0.1.3"
authors = [
    { name="raynbowy23" },
]
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]

[tool.maturin]
features = ["pyo3/extension-module"]
python-source = "python"
module-name = "transportations_library"

[project.urls]
Homepage = "https://github.com/crosstraffic/cross-traffic-middleware"
