[project]
name = "urduhack-lite"
version = "0.1.1"
description = "Natural Language Processing (NLP) library for Urdu language."
authors = [
    { name = "Ikram Ali", email = "mrikram1989@gmail.com" }, # Original author
    { name = "hamzashezad", email = "9590983+hamzashezad@users.noreply.github.com" }
]
dependencies = []
readme = "README.md"
requires-python = ">= 3.8"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/urduhack_lite"]
