@import "vars.scss";

#btnRecordMeeting {
    border: 1px solid $hal-red;
    background-color: $hal-red;
}

#btnUploadFile,
#btnTranscribeAnalyzeFile {
    background-color: $hal-blue;
    border: 1px solid $hal-blue;

}